<div class='p-2'>
  <div class="accordion">
    <!-- <bdp-chatroom [roomId]="'abcd'" [roomType]="'project'" [roomMessages]="chatRooms.get(roomId)"></bdp-chatroom> -->
    <ng-container *ngFor="let eachRoomId of chatRoomIds">
      <ng-container *ngIf="chatRooms[eachRoomId]">
        <bdp-chatroom 
          [roomId]="eachRoomId"
          [roomType]="chatRooms[eachRoomId].type"
          [messages]="chatRooms[eachRoomId].messages"
        ></bdp-chatroom>
      </ng-container>
    </ng-container>
  </div>
</div>