<!-- <div role="alert"> -->
  <div class="toast-header">
  <span class="me-auto"><strong>Bootstrap</strong> says </span>
  <small>11 mins ago</small>
  </div>
  <div class="toast-body">
  Hello, world! This is a toast message.
  </div>
<!-- </div> -->
<!-- <div class="toast showing align-self-end bg-light" role="alert" aria-live="assertive" aria-atomic="true" style='width: 80%; min-width: 250px;'>
  <div class="toast-header">
  <span class="me-auto"><strong>Bootstrap</strong> says </span>
  <small>11 mins ago</small>
  </div>
  <div class="toast-body">
  Hello, world! This is a toast message.
  </div>
</div> -->